body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  justify-content: space-between !important;
  display: inline-flex;
}

#wp-join-btn {
  border-color: transparent !important;
  font-weight: 600;
}

#wp-join-btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.9);
}

#wp-signin-btn {
  font-weight: 600;
  margin-left: 4px;
  border-radius: 24px;
  border-color: #0a66c2;
  padding: 0.375rem 1.2rem;
  background-color: transparent;
  color: #0a66c2;
}

#wp-signin-btn:hover {
  border-color: #0a66c2;
  background-color: rgba(112, 181, 249, 0.15);
  color: #0a66c2;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #0a66c2;
}

.welcome_h1 {
  color: #8f5849;
}

#welcome-ilustration-desktop {
  z-index: -1;
  width: 700px;
  position: absolute;
  right: 250px;
}

.welcome-btns:hover {
  box-shadow: 0px 4px 6px rgb(0 0 0 / 15%), 0px 0px 2px rgb(0 0 0 / 15%);
}
.welcome-btns {
  color: rgba(0, 0, 0, 0.9);
}

#welcome-footer-container {
  background-color: #faf9f7;
}

.welcome-footer-ul {
  list-style: none;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.5rem;
}

#welcome-footer-container > div > div > ul > li > a {
  color: #666666;
}

#welcome-footer-container > div > div > ul > li > a:hover {
  color: #0a66c2
} 